<ion-header>
  <ion-toolbar>
    <ion-title>auth</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label position="floating">E-mail</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input></ion-input>
    </ion-item>
  </ion-list>
  <div text-center>
    <ion-spinner color="primary" *ngIf="isLoading"></ion-spinner>
  </div>
  <ion-button color="primary" (click)="onLogin()" *ngIf="!isLoading"
    >LOGIN</ion-button
  >
</ion-content>
